.logo-main {
	width: 7rem;
}
.carousel-cotainer {
	background-color: #c5e9f0;
}
.carousel-control-next,
.carousel-control-prev {
	width: 3rem;
}

.c-img {
	height: 25rem;
}
.price {
	color: #41adf1;
}

.buy-now-button {
	background-image: linear-gradient(to bottom, #41adf1 0%, #55abe0 100%);
	border: none;
	border-radius: 0.4rem;
	padding: 0.5rem 1.5rem;
	margin-top: 0.5rem;
	color: #fff;
}

.cat-1 {
	background-color: #f0ed6a;
}

.cat-2 {
	background-color: #98f897;
}

.cat-3 {
	background-color: #f0b7af;
}

.cat-img {
	height: 7rem;
}

.cat-1,
.cat-2,
.cat-3 {
	padding: 0.7rem 1rem;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.catagories h1 {
	color: #fff;
}

.shoes-img {
	height: 14rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	border: none;
	box-shadow: 5px 5px 10px lightgray;
}
